hella2/src/main/mule/hella2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cf472221-adc6-4f07-bf82-ea330a848645" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hella2Flow" doc:id="c8b7675f-188b-4b11-98d4-b4be3752e6fd" >
		<http:listener doc:name="Listener" doc:id="e56944bb-ac2b-43de-a642-2932a430153a" config-ref="HTTP_Listener_config" path="/hella2"/>
		<logger level="INFO" doc:name="Logger" doc:id="876f17b9-6b52-4f1d-9077-4838a9a0941f" message="#[payload]"/>
	</flow>
</mule>
